@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/montserrat/400-regular.woff2) format('woff');
  }

  @font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-display: optional;
    src: url(/fonts/montserrat/500-medium.woff2) format('woff');
  }

  @font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/montserrat/700-bold.woff2) format('woff');
  }
}
